<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Our App!!!</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content padding> -->

<div id="page">
     <div class="row mt-5">
        <div class="col-md-4 mb-3" *ngFor="let comic of comics">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{comic.title}}</h5>
                    <p class="card-image"><img src={{comic.image}}/></p>
                    <p class="card-text">Publisher: {{comic.publisher}}</p>
                    <p class="card-text">Genre: {{comic.genre}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- </ion-content> -->

  